<% show_post ||= false %>

<div class="well col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
  <em>"<%= comment.body %>"</em>
  <% if show_post %>
    on <%= link_to comment.post.title, post_path(comment.post) %>
  <% end %>
  <br/>
  <span class="quiet">by</span> <%= link_to comment.creator.user_name, user_path(comment.creator) %>
  <small>at <%= comment.created_at %></small>
</div>