<div class='center vote_buttons_placement'>
  <%= link_to fake_vote_post_path(post), method: 'post', remote: true, class: 'btn btn-large btn-success' do %>
    <span class='glyphicon glyphicon-thumbs-up'></span>
  <% end %>
  <%= link_to fake_vote_post_path(post), method: 'post', remote: true, class: 'btn btn-large btn-danger' do %>
    <span class='glyphicon glyphicon-thumbs-down'></span>
  <% end %>
</div>