<% if post.up_ratio >= post.down_ratio %>
  <p class="vote_result_text">
    <%= raw number_to_percentage(post.up_ratio, precision: 0) %>的人喜歡這支廣告
  </p>
<% elsif post.up_ratio < post.down_ratio %>
  <p class="vote_result_text">
    <%= raw number_to_percentage(post.down_ratio, precision: 0) %>的人討厭這支廣告
  </p>
<% else %>
  <p class="vote_result_text">
    還沒有人投票
  </p>
<% end %>
<div class="progress col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" style= "width: <%=raw number_to_percentage(post.up_ratio, precision: 2) %>%;"></div>
  <div class="progress-bar progress-bar-danger" style= "width: <%=raw number_to_percentage(post.down_ratio, precision: 2) %>%;" ></div>
</div>