<% if logged_in? %>
  <div class="social_share_column">
    <div class="social_share_button">
      <div class="fb-share-button" data-href="https://www.ad-judge.com/posts/<%= post.slug %>" data-width="200" data-type="button"></div>
    </div>
  </div>
<% else %>
  <div class="social_share_column">
    <div class="social_share_button">
      <%= link_to image_tag("facebook_share.jpg", alt: "login", size: "116x37"), login_path %>
    </div> 
  </div>
<% end %>