<% if logged_in? %>
   <div class="social_share_column">
     <%= image_tag("facebook_share.png", alt: "share", size: "108x40", class: 'fb_share_<%=post.id%>') %>
  </div>
  
<% else %>
  <div class="social_share_column">
    <%= link_to image_tag("facebook_share.png", alt: "login", size: "108x40"), login_path %>
  </div>
<% end %>
<script>

</script>
