<% if logged_in? %>
  <div class="social_share_column">
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-width="93" data-type="button"></div>
     <%= link_to image_tag("facebook_share.png", alt: "login", size: "93x32"),
        'https://www.facebook.com/dialog/feed?
        app_id=' + ENV['FACEBOOK_KEY'] +
        '&display=page&
        &link=http://www.ad-judge.com/posts/'+ post.slug +
        '&picture=http://img.youtube.com/vi/'+ post.youtube_video_id +
        '/hqdefault.jpg&name='+ post.title +
        '&redirect_uri='+ request.original_url,
        :target => :blank %>
  </div>

<% else %>
  <div class="social_share_column">
    <%= link_to image_tag("facebook_share.png", alt: "login", size: "93x32"), login_path %>
  </div>
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-width="93" data-type="button"></div>
<% end %>