<div class='center vote-like'>
  <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true, class: 'btn btn-large btn-success' do %>
    <i class='icon-thumbs-up'></i>
  <% end %>
  <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true, class: 'btn btn-large btn-danger'  do %>
    <i class='icon-thumbs-down'></i>
  <% end %>
</div>
