<div id="video_column", class="span5 well">
  <h4 class="one-line-title"><%= link_to post.title, post_path(post) %></h4>
  <%=raw post.embedded_url %>
  <hr>
  <div class='span well text-center'>
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: 'post'  do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>
</div>