<% @post.each do |post| %>
  <div id="video_column", class="span5 well">
    <h4 class="one-line-title"><%= link_to post.title, post_path(post) %></h4>
    <%=raw post.embedded_url %>
  </div>
<% end %>