/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 82px;
  background-color: #F7E7CE;
}

#main {
  margin: 0 auto;
  float: none;
}

li.logo {
  position:absolute;
  left: 50%;
  right: 50%;
  margin-left: -150px;
  margin-right: -150px;
}

li.logo > a {
  padding-top: 12px;
}

.container_decoration {
  padding: 0px;
}

.row_decoration {
  padding: 0px; 
}

.main_items_decoration {
  width: 100%;
}

.post {
/*  background-color: #eddbbe;*/
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.navbar-xs {
  width: 100%;
  border: none;
  padding-left: 16%;
}

.logo-xs {
  margin-left: auto;
  margin-right: auto;
}

.toggle-xs{
  float: right;
  padding-top: 5px;
  color: white;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.one-line-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.progress {
  padding-left: 0px;
  padding-right: 0px;
}

.paginate {
  display: none;
}

.action_column_left {
  float: left;
  padding-top: 2px;
}

.action_column_right {
  padding-left: 20px;
}

.social_share_column {
  margin-top: 1px;
}

.social_share_button {
  margin-top: 10px;
  float: right;
}

.vote_result_text {
  margin-bottom: 0px;
  float: left;
}

.vote_progress {
  margin-right: -15%;
}

.vote_buttons_placement {
  width: 84px;
  float: right;
}