/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 82px;
  background-color: #F7E7CE;
}

#main {
  margin: 0 auto;
  float: none;
}

.nav-extend {
  width: 940px;
}

.navbar .nav > li.leftHeaderContent {
  float: left;
}

.navbar .nav > li.logo {
  position:absolute;
  left: 50%;
  right: 50%;
  margin-left: -150px;
  margin-right: -150px;
}

.navbar .nav > li.logo > a {
  padding-top: 7px;
}

.navbar .nav > li.rightHeaderContent {
  float: right;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.one-line-title {
  white-space: nowrap;
  overflow: scroll;
}

.center2 {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.quiet {
  color: #ababab;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

.well {
  background-color: #eddbbe; 
  border-color: #bab0a0;
  border-radius: 0px;
  border-width: 1px;
}

.paginate {
  display: none;
}

.action_column_left {
  float: left;
  margin-left: -5px;
}

.action_column_right {
  margin-right: 5px;
}

.social_share_column {
  margin-top: 8px;
}

.vote_result_text {
  margin-bottom: 0px;
}

/*div.comment_votes {
  padding: 10px;
}*/