/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 102px;
  background-color: #F7E7CE;
}

#main {
  margin: 0 auto;
  float: none;
}

/*.brand {
  margin-left: 0px;
}*/

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.one-line-title {
  white-space: nowrap;
  overflow: scroll;
}
#video_column {
  margin-right: 20px;
  background-color: #F7E7CE;
  border: 1px solid #BDBDBD;
  border-radius: 0px;
}

.center.navbar .nav,
.center.navbar .nav > li {
  float: none;
  display: inline-block;
  vertical-align: bottom;
}

.center .navbar-inner {
  text-align: center;
}

.quiet {
  color: #ababab;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

/*div.comment_votes {
  padding: 10px;
}*/